{
    email admin@university.edu.eg
}

id.devhubai.net {
    request_body {
        max_size 25MB
    }

    reverse_proxy bua_app:5000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}

id-storage.devhubai.net {
    request_body {
        max_size 50MB
    }

    reverse_proxy minio:9000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
